.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    border: 0;
    height: 100%;
    width: 100%;
}